<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>Meme@NUS</title>

    <!-- Bootstrap -->
    <link href="./html/css/bootstrap.css" rel="stylesheet">
    <link href="./html/css/flat-ui.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <script type="text/javascript">
        // Popup window code
        function newPopup(url) {
	        popupWindow = window.open(
		        url,'popUpWindow','height=350,width=500,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
        }
    </script>


</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"><font><font>Toggle navigation</font></font></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><font><font>Meme@NUS</font></font></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><font><font>Home</font></font></a></li>
                <!--Implement upload page -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font><font>Upload </font></font><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href = "#" data-toggle="modal" data-target="#myModal_url"><font><font>Add from url</font></font></a></li>
                        <li><a href = "#" data-toggle="modal" data-target="#myModal_images"><font><font>Upload Image</font></font></a></li>
                        <li><a href="http://memeful.com/?ref=9gag"><font><font>Make a meme</font></font></a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font><font>Links </font></font><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="Http://ivle.nus.edu.sg"><font><font>IVLE</font></font></a></li>
                        <li><a href="Http://myisis.nus.edu.sg"><font><font>MYISIS</font></font></a></li>
                        <li><a href="Http://nusmods.com"><font><font>NUSMODS</font></font></a></li>
                        <li><a href="http://nus-bell-curve-god.appspot.com/"><font><font>PRAY?</font></font></a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"><font><font>Popular Memes</font></font></li>
                        <li><a href="#"><font><font>Featured MEME</font></font></a></li>
                        <li><a href="#"><font><font>Top Rated MEME</font></font></a></li>
                    </ul>
                </li>
                <li><a href="/howto"><font><font>Guide</font></font></a></li>

            </ul>
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="profile.html" class="dropdown-toggle" data-toggle="dropdown"><span class="fui-user"></span>{{ user_name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ user_mail }}</li>
            <li class="divider"></li>
            <li><a href="/profile">Edit profile</a></li>
            <li><a href="/upload">Uploaded Images</a></li>
            <li><a href={{ logout }}>Log out</a></li>
        </ul>
    </li>
</ul>
</div><!--/.nav-collapse -->
</div>
</div>


<div class="modal fade" id="myModal_url" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Upload Image through URL</h4>
                <p class ="dropdown-header">Upload funny pictures, paste pictures URL, accepting GIF/JPG/PNG (Max size: 3MB)</p>
            </div>
            <div class="modal-body">

                <form class="form-horizontal well" method="post" action="/upload" id="modal-form">

                    <div class="modal-body">
                        <div style="clear:both;float:left;width:500px;">
                            <input id="textinput" name="textinput" type="text" placeholder="http://" class="form-control input-md">

						</div>

                        <div style="clear:both;float:left;"> <label>Title</label> </div>
                        <div style="clear:both;float:left;"> <textarea id="test1" name="test1" style="width:500px;height:100px;max-width:500px;max-height:100px;"></textarea></div>
                        <br>
						<div style="clear:both;float:left;"><span id="count1"></span> characters remaining remaining</div>
						<br>
                        <br>
						<br>
						<br>
						<br>
						<br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModal_images" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
                <p class ="dropdown-header">Upload funny pictures, paste pictures URL, accepting GIF/JPG/PNG (Max size: 3MB)</p>
            </div>
            <div class="modal-body">
                <form class="form-horizontal well" enctype="multipart/form-data" method="post" action="{{upload_url}}" id="modal-form">


                    <!-- File Button -->
                    <div class="modal-body">
                        <div style="clear:both;float:left;" >
                            <input id="filebutton" name="filebutton" class="input-file" type="file" >
                        </div>

					

					<div style="clear:both;float:left;"> <label>Title</label> </div>
                    <div style="clear:both;float:left;"><textarea id='test2' name="test2" style="width:500px;height:100px;max-width:500px;max-height:100px;"></textarea></div>
                    <br>
					<div style="clear:both;float:left;"><span id='count2'></span> characters remaining remaining </div>
                    <br>
                    <br>
					<br>
					<br>
					<br>
					<br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
					</div>
                </form>

            </div>

        </div>
    </div>
</div>


<div class="container" style="padding-top:40px;" align="center">

    {% for item in items %}
		<div class="posts" style="width:600px;">
			<div class="page-header">
				<h1>{{ item.description }}</h1>
			</div>
			<img class="img-thumbnail"  style="max-width: 100%; width: auto\9; height: auto;" src="{{ item.image_link }}" >
            {% if liked_photos_count > 0 %}

                {% for like in liked_photos %}

                    {% if item.OwnerString == like.photos_id %}

                        {% if like.like_status == "like" %}
                            {#                        <div>display dim like button(when pressed will - 1 to like + update like_status to dislike)</div>#}
                            {#                        <div>display normal unlike button(when pressed will -1 to like + update like_status to dislike)</div>#}
                            <div class="row" style="width:550px;padding-top:15px;">
                                <form method="post" action="/submit_likes">
                                    <div class="col-xs-3" style="width:15%;"><button type="button" style="width:60px;" class="btn btn-block btn-lg btn-success" disabled ><span class="glyphicon glyphicon-thumbs-up"></span></button>
                                        <small>({{ item.likes }})</small>
                                    </div>
                                    <div class="col-xs-3" style="width:15%;"><button type="submit" name="dislike" id="dislike" value="{{ item.OwnerString }}"style="width:60px;" class="btn btn-block btn-lg btn-danger" ><span class="glyphicon  glyphicon-thumbs-down"></span></button>

                                    </div>
                                </form>
                                <div class="col-xs-3" style="width:15%;"><button style="width:60px;" class="btn btn-block btn-lg btn-warning" ><span class="glyphicon  glyphicon-comment"></span></button></div>
                                <div style="float:right;"><a href="JavaScript:newPopup('https://www.facebook.com/sharer/sharer.php?u={{ item.image_link }}');" class="btn btn-block btn-lg btn-info" style="background-color: #2980B9;">Share On Facebook</a></div>
                            </div>
                            {% break %}
                        {% elif like.like_status == "dislike" %}
                            {#                        <div>display normal like button(when pressed will + 1 to like + update like_status to like)</div>#}
                            {#                        <div>display dim dislike button(when pressed will + 1 to like + update like_status to like)</div>#}
                            <div class="row" style="width:550px;padding-top:15px;">
                                <form method="post" action="/submit_likes">
                                    <div class="col-xs-3" style="width:15%;"><button type="submit" name="like" id="like" value="{{ item.OwnerString }}" style="width:60px;" class="btn btn-block btn-lg btn-success" ><span class="glyphicon glyphicon-thumbs-up"></span></button>
                                        <small>({{ item.likes }})</small>
                                    </div>
                                    <div class="col-xs-3" style="width:15%;"><button type="button" style="width:60px;" class="btn btn-block btn-lg btn-danger" disabled ><span class="glyphicon  glyphicon-thumbs-down"></span></button>

                                    </div>
                                </form>
                                <div class="col-xs-3" style="width:15%;"><button style="width:60px;" class="btn btn-block btn-lg btn-warning" ><span class="glyphicon  glyphicon-comment"></span></button></div>
                                <div style="float:right;"><a href="JavaScript:newPopup('https://www.facebook.com/sharer/sharer.php?u={{ item.image_link }}');" class="btn btn-block btn-lg btn-info" style="background-color: #2980B9;">Share On Facebook</a></div>
                            </div>
                            {% break %}

                        {% endif %}
                    {% elif loop.last %}
                        <div class="row" style="width:550px;padding-top:15px;">
                            <form method="post" action="/submit_likes">
                                <div class="col-xs-3" style="width:15%;"><button type="submit" name="like" id="like" value="{{ item.OwnerString }}" style="width:60px;" class="btn btn-block btn-lg btn-success" ><span class="glyphicon glyphicon-thumbs-up"></span></button>
                                    <small>({{ item.likes }})</small>
                                </div>
                                <div class="col-xs-3" style="width:15%;"><button type="submit" name="dislike" id="dislike" value="{{ item.OwnerString }}"style="width:60px;" class="btn btn-block btn-lg btn-danger" ><span class="glyphicon  glyphicon-thumbs-down"></span></button>

                                </div>
                            </form>
                            <div class="col-xs-3" style="width:15%;"><button style="width:60px;" class="btn btn-block btn-lg btn-warning" ><span class="glyphicon  glyphicon-comment"></span></button></div>
                            <div style="float:right;"><a href="JavaScript:newPopup('https://www.facebook.com/sharer/sharer.php?u={{ item.image_link }}');" class="btn btn-block btn-lg btn-info" style="background-color: #2980B9;">Share On Facebook</a></div>
                        </div>

                    {% endif %}

                {% endfor %}
            {% else %}
                <div class="row" style="width:550px;padding-top:15px;">
                    <form method="post" action="/submit_likes">
                        <div class="col-xs-3" style="width:15%;"><button type="submit" name="like" id="like" value="{{ item.OwnerString }}" style="width:60px;" class="btn btn-block btn-lg btn-success" ><span class="glyphicon glyphicon-thumbs-up"></span></button>
                            <small>({{ item.likes }})</small>
                        </div>
                        <div class="col-xs-3" style="width:15%;"><button type="submit" name="dislike" id="dislike" value="{{ item.OwnerString }}"style="width:60px;" class="btn btn-block btn-lg btn-danger" ><span class="glyphicon  glyphicon-thumbs-down"></span></button>

                        </div>
                    </form>
                    <div class="col-xs-3" style="width:15%;"><button style="width:60px;" class="btn btn-block btn-lg btn-warning" ><span class="glyphicon  glyphicon-comment"></span></button></div>
                    <div style="float:right;"><a href="JavaScript:newPopup('https://www.facebook.com/sharer/sharer.php?u={{ item.image_link }}');" class="btn btn-block btn-lg btn-info" style="background-color: #2980B9;">Share On Facebook</a></div>
                </div>



            {% endif %}
            <!-- Time might use moment.js we shall see
            <div>{{ item.date.strftime('%Y-%m-%d')  }}</div>-->

{#            <div class="row" style="width:550px;padding-top:15px;">#}
{#                <form method="post" action="/submit_likes">#}
{#                <div class="col-xs-3" style="width:15%;"><button type="submit" name="like" id="like" value="{{ item.OwnerString }}" style="width:60px;" class="btn btn-block btn-lg btn-success" ><span class="glyphicon glyphicon-thumbs-up"></span></button>#}
{#                <small>({{ item.likes }})</small>#}
{#                </div>#}
{#                <div class="col-xs-3" style="width:15%;"><button type="submit" name="dislike" id="dislike" value="{{ item.OwnerString }}"style="width:60px;" class="btn btn-block btn-lg btn-danger" ><span class="glyphicon  glyphicon-thumbs-down"></span></button>#}
{#                <small>({{ item.dislikes }})</small>#}
{#                </div>#}
{#                </form>#}
{#                <div class="col-xs-3" style="width:15%;"><button style="width:60px;" class="btn btn-block btn-lg btn-warning" ><span class="glyphicon  glyphicon-comment"></span></button></div>#}
{#                <div style="float:right;"><a href="JavaScript:newPopup('https://www.facebook.com/sharer/sharer.php?u={{ item.image_link }}');" class="btn btn-block btn-lg btn-info" style="background-color: #2980B9;">Share On Facebook</a></div>#}
{#            </div>#}

		</div>
    {% endfor %}

{#{% for item in items2 %}#}
{#		<div class="posts" style="width:600px;">#}
{#			<div class="page-header">#}
{#				<h1>{{ item.description }}</h1>#}
{#			</div>#}
{#			<img class="img-thumbnail"  style="max-width: 100%; width: auto\9; height: auto;" src="{{ item.servingUrl }}" >#}
{##}
{#            <!-- Time might use moment.js we shall see#}
{#            <div>{{ item.date.strftime('%Y-%m-%d')  }}</div>-->#}
{#            <div class = "row" style="width:550px;padding-top:15px;">#}
{##}
{#                <div class="col-xs-3" style="width:15%;"><a><button  class="btn btn-block btn-lg " style="width:60px; background-color:#2f4154;" ><span class="glyphicon glyphicon-thumbs-up"></span></button></a>#}
{#                </div>#}
{#                <div class="col-xs-3" style="width:15%;"><a><button  class="btn btn-block btn-lg " style="width:60px; background-color:#2f4154"><span class="glyphicon  glyphicon-thumbs-down "></span></button></a>#}
{#                </div>#}
{#                <div class="col-xs-3" style="width:15%;"><a><button  class="btn btn-block btn-lg " style="width:60px; background-color:#2f4154"><span class="glyphicon glyphicon-comment"></span></button></a>#}
{#                </div>#}
{##}
{##}
{#                <div style="float:right;"><a href="JavaScript:newPopup('https://www.facebook.com/sharer/sharer.php?u={{ item.servingUrl }}');" class="btn btn-block btn-lg btn-info" style="background-color: #2980B9;">Share On Facebook</a>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#           <!-- <div class="row" style="width:550px;padding-top:15px;">#}
{#                <ul>#}
{#                    <li>    <div class="col-xs-3" style="width:15%;"><button style="width:60px;" class="btn btn-block btn-lg btn-success" ><span class="fui-check"></span></button></div>#}
{#                    </li>#}
{#                    <li><div class="col-xs-3" style="width:15%;"><button style="width:60px;" class="btn btn-block btn-lg btn-danger" ><span class="fui-cross"></span></button></div>#}
{#                    </li>#}
{#                    <li><div class="col-xs-3" style="width:15%;"><button style="width:60px;" class="btn btn-block btn-lg btn-danger" ><span class="glyphicon-comment"></span></button></div>#}
{#                    </li>#}
{#                </ul>#}
{#                <div style="float:right;"><a href="JavaScript:newPopup('https://www.facebook.com/sharer/sharer.php?u={{ item.servingUrl }}');" class="btn btn-block btn-lg btn-info" style="background-color: #2980B9;">Share On Facebook</a></div>#}
{#            </div>-->#}
{##}
{#		</div>#}
{#    {% endfor %}#}






</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./html/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../bootstrap/js/jquery.NobleCount.js"></script>
<script type="text/javascript">
            $(document).ready(function () {
                	$('#test1').NobleCount('#count1',{
                	block_negative: true
                	});
                    $('#test2').NobleCount('#count2',{
                	block_negative: true
                	});
            });


    </script>

</body>
</html>