<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>Meme@NUS</title>

    <!-- Bootstrap -->
    <link href="./html/css/bootstrap.css" rel="stylesheet">
    <link href="./html/css/flat-ui.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->



</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"><font><font>Toggle navigation</font></font></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><font><font>Meme@NUS</font></font></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><font><font>Home</font></font></a></li>
                <!--Implement upload page -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font><font>Upload </font></font><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href = "#" data-toggle="modal" data-target="#myModal_url"><font><font>Add from url</font></font></a></li>
                        <li><a href = "#" data-toggle="modal" data-target="#myModal_images"><font><font>Upload Image</font></font></a></li>
                        <li><a href="http://memeful.com/?ref=9gag"><font><font>Make a meme</font></font></a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font><font>Links </font></font><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="Http://ivle.nus.edu.sg"><font><font>IVLE</font></font></a></li>
                        <li><a href="Http://myisis.nus.edu.sg"><font><font>MYISIS</font></font></a></li>
                        <li><a href="Http://nusmods.com"><font><font>NUSMODS</font></font></a></li>
                        <li><a href="http://nus-bell-curve-god.appspot.com/"><font><font>PRAY?</font></font></a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"><font><font>Popular Memes</font></font></li>
                        <li><a href="#"><font><font>Featured MEME</font></font></a></li>
                        <li><a href="#"><font><font>Top Rated MEME</font></font></a></li>
                    </ul>
                </li>
                <li><a href="/howto"><font><font>Guide</font></font></a></li>

            </ul>
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="profile.html" class="dropdown-toggle" data-toggle="dropdown"><span class="fui-user"></span>{{ user_name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ user_mail }}</li>
            <li class="divider"></li>
            <li><a href="/profile">Edit profile</a></li>
            <li><a href="/upload">Uploaded Images</a></li>
            <li><a href={{ logout }}>Log out</a></li>
        </ul>
    </li>
</ul>
</div><!--/.nav-collapse -->
</div>
</div>

<div class="container" style="padding-top:150px;">
  <div class="row">
  	<div class="col-md-6">
    
      <div class="panel panel-default">
			<div class="panel-body">
              		<div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>{{user_name}}</h2>
                            <p><a class="btn btn-default" href="#" role="button">Change Profile Picture</a></p>
                        </div><!--/col-->          
                        <div class="col-xs-12 col-sm-4 text-center">
                                <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
								<div class="col-xs-12 col-sm-4">

                            <h2><strong>{{ items }}</strong></h2>
                            <p><a href="/upload" ><small>Posts</small></a></p>
							</div><!--/col-->
                        </div><!--/col-->
              		</div><!--/row-->
              </div><!--/panel-body-->
          </div><!--/panel-->

    
    
    </div>
  </div>
</div>

<div class="modal fade" id="myModal_url" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Upload Image thru Url</h4>
                <p class ="dropdown-header">Upload funny pictures, paste pictures URL, accepting GIF/JPG/PNG (Max size: 3MB)</p>
            </div>
            <div class="modal-body">

                <form class="form-horizontal well" method="post" action="/upload" id="modal-form">

                    <div class="modal-body">
                        <div style="clear:both;float:left;width:500px;">
                            <input id="textinput" name="textinput" type="text" placeholder="http://" class="form-control input-md">

						</div>

                        <div style="clear:both;float:left;"> <label>Title</label> </div>
                        <div style="clear:both;float:left;"> <textarea id="test1" name="test1" style="width:500px;height:100px;max-width:500px;max-height:100px;"></textarea></div>
                        <br>
						<div style="clear:both;float:left;"><span id="count1"></span> characters remaining remaining</div>
						<br>
                        <br>
						<br>
						<br>
						<br>
						<br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModal_images" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
                <p class ="dropdown-header">Upload funny pictures, paste pictures URL, accepting GIF/JPG/PNG (Max size: 3MB)</p>
            </div>
            <div class="modal-body">
                <form class="form-horizontal well" enctype="multipart/form-data" method="post" action="{{upload_url}}" id="modal-form">


                    <!-- File Button -->
                    <div class="modal-body">
                        <div style="clear:both;float:left;" >
                            <input id="filebutton" name="filebutton" class="input-file" type="file" >
                        </div>



					<div style="clear:both;float:left;"> <label>Title</label> </div>
                    <div style="clear:both;float:left;"><textarea id='test2' name="test2" style="width:500px;height:100px;max-width:500px;max-height:100px;"></textarea></div>
                    <br>
					<div style="clear:both;float:left;"><span id='count2'></span> characters remaining remaining </div>
                    <br>
                    <br>
					<br>
					<br>
					<br>
					<br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
					</div>
                </form>

            </div>

        </div>
    </div>
</div>



</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./html/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../bootstrap/js/jquery.NobleCount.js"></script>
<script type="text/javascript">
            $(document).ready(function () {
                	$('#test1').NobleCount('#count1',{
                	block_negative: true
                	});
            });


    </script>

</body>
</html>