<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meme@NUS</title>

    <!-- Bootstrap -->
    <link href="./html/css/bootstrap.css" rel="stylesheet">
	<link href="./html/css/flat-ui.css" rel="stylesheet">
	<link href="./html/css/theme.css" rel="stylesheet">
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only"><font><font>Toggle navigation</font></font></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><font><font>Meme@NUS</font></font></a>

          </div>
          <div class="navbar-form navbar-right">
              <form action="/getOpenId" method="post">
                  <button type="submit" name="openId" value="https://openid.nus.edu.sg" class="btn btn-primary" style="background:none; border:2px solid #F39C12;">Sign in with NUSNET ID</button>
              </form>
          </div>
          <div>
          </div><!--/.nav-collapse -->
      </div>
  </div>

	<div class="container theme-showcase" style="padding-top:200px;" role="main">
        <div class="jumbotron">
            <h1><font><font>Welcome to Meme@NUS</font></font></h1>
            <p><font><font>This is a place for you to relax after a long hour of study. Gags and fun exclusively for NUS Students.</font></font></p>
            <p>
            <form action = "/getOpenId" method="post">
                <button name="openId" value="https://openid.nus.edu.sg" class="btn btn-primary btn-lg" type = "submit"><font><font>Login with NUSNET ID</font></font></button>
            </form>
            </p>

        </div>
    </div>


    <div class="container theme-showcase" style="padding-top:300px;" role="main">
        <div class="jumbotron">
            <h1><font><font>What?</font></font></h1>
            <p><font><font>This is a place for you to relax after a long hour of study. Upload your personalize meme or simply browse through other memes.</font></font></p>
        </div>
    </div>
    <div class="container theme-showcase" style="padding-top:300px;" role="main">
        <div class="jumbotron">
            <h1><font><font>Who?</font></font></h1>
            <p><font><font>A space created solely for NUS students, so don't be shy go POST THOSE MEMES NOW!</font></font></p>
        </div>
    </div>

    <div class="container theme-showcase" style="padding-top:200px;" role="main">
        <div class="jumbotron">
            <h1><font><font>How to login?</font></font></h1>
            <p><font><font>No registration is needed (Hassle free :)) , just login with IVLE account and everything is ready to GO!</font></font></p>
            <div class="centered">
                <form action = "/getOpenId" method="post">
                    <button name="openId" value="https://openid.nus.edu.sg" class="btn btn-primary btn-lg" type = "submit"><font><font>Login now with NUSNET ID!</font></font></button>
                </form>
            </div>
        </div>
    </div>

  <footer>
        <div class="container" >
          <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center" style="color: #cccccc;">
                    <p style = "color : #195880">DEVELOPED BY</p>
                    <ul class="list-inline">
                        <li><!--<i class="fa fa-facebook fa-3x"></i>--><a href="mailto:yonghe@nus.edu.sg" style = "color : #195880">Pang Yong He</a></li>
                        <li><!--<i class="fa fa-twitter fa-3x"></i>--><a href="mailto:nyuenvietson@nus.edu.sg" style = "color : #195880">Nyuen Viet Son</a></li>
                    </ul>

                </div>
                <br/><br/><br/><br/>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center" style="color: #aaaaaa;">
                    <p style = "color : #195880">We Hope You Have Fun!</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./html/js/bootstrap.min.js"></script>
  </body>
</html>